table{
  border: 2px solid black !important;
}

label.error{
  color: red;
  font-weight: bold;
}
input.error,select.error,textarea.error{
  border: 1px solid red;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', sans-serif;

}
