{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
  <br><br><br>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-2" >

      </div>
      <div class="col-md-8" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <form class="" action="/actualizarAsignatura/" method="post" enctype="multipart/form-data" id="nuevo_asignatura">
          {% csrf_token %}
          <h1><i class="fas fa-edit"></i> <b>EDITAR ASIGNATURA</b></h1>
          <input type="hidden" name="idAsignaturaERUC" value="{{asignatura.idAsignaturaERUC}}">
          <b>NOMBRE:</b>
          <input type="text" name="nombreAsignaturaERUC" id="nombreAsignaturaERUC" value="{{asignatura.nombreAsignaturaERUC}}" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
          <br>
          <b>CREDITOS:</b>
          <input type="number" name="creditosAsignaturaERUC" id="creditosAsignaturaERUC" value="{{asignatura.creditosAsignaturaERUC}}" placeholder="Ingrese el numero de creditos" class="form-control" required>
          <br>
          <b>FECHA DE INICIO:</b>
          <input type="date" name="fechaInicioAsignaturaERUC" id="fechaInicioAsignaturaERUC" value="{{asignatura.fechaInicioAsignaturaERUC|date:'Y-m-d'}}" placeholder="Ingrese la fecha de inicio" class="form-control"required>
          <br>
          <b>FECHA DE FINALIZACION:</b>
          <input type="date" name="fechaFinalizacionAsignaturaERUC" id="fechaFinalizacionAsignaturaERUC" value="{{asignatura.fechaFinalizacionAsignaturaERUC|date:'Y-m-d'}}" placeholder="Ingrese la fecha de finalizacion" class="form-control"required>
          <br>
          <b>PROFESOR:</b>
          <input type="text" name="profesorAsignaturaERUC" id="profesorAsignaturaERUC" value="{{asignatura.profesorAsignaturaERUC}}" placeholder="Ingrese el nombre del profesor" class="form-control" required>
          <br>
          <b>DESCRIPCION ASIGNATURA:</b>
          <input type="text" name="descripcionAsignaturaERUC" id="descripcionAsignaturaERUC" value="{{asignatura.descripcionAsignaturaERUC}}" placeholder="Ingrese la descripcion" class="form-control" required>
          <br>
          <b>TOTAL HORAS:</b>
          <input type="number" name="totalHorasAsignaturaERUC" id="totalHorasAsignaturaERUC" value="{{asignatura.totalHorasAsignaturaERUC}}" placeholder="Ingrese el total de horas" class="form-control" required>
          <br>
          <b>SELECIONE EL NIVEL:</b>
          <select class="form-control" name="idCursoERUC" id="idCursoERUC" style="text-align: center;" required>
            <option value="">--Selecione el nivel--</option>
            {%for curso in curso%}
              <option value="{{curso.idCursoERUC}}">{{curso.nivelCursoERUC}}</option>
            {%endfor%}
          </select>
          <br>
          <script type="text/javascript">
            document.getElementById('idCursoERUC').value="{{asignatura.cursoERUC.idCursoERUC}}";
          </script>
          <b>SILABO:</b> <br>
                {% if asignatura.silaboAsignaturaERUC %}
                <i class="fas fa-file-pdf fa-3x text-black"></i>
                <br>
                {{ asignatura.silaboAsignaturaERUC.name }}
                <br>
                {% endif %}
                <br>
                <input type="file" name="silaboAsignaturaERUC" id="silaboAsignaturaERUC" accept=".pdf" class="form-control" >
                <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="asignatura" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
          </center>
        </form>

        </div>
      </div>

    </div>
        {%endblock%}
