{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
  <br><br><br>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-2" >

      </div>
      <div class="col-md-8" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <form class="" action="/actualizarCurso/" method="post" enctype="multipart/form-data" id="nuevo_curso">
          {% csrf_token %}
          <h1><i class="fas fa-edit"></i> <b>EDITAR CURSO</b></h1>
          <input type="hidden" name="idCursoERUC" value="{{curso.idCursoERUC}}">
          <b>NIVEL:</b>
          <input type="text" name="nivelCursoERUC" id="nivelCursoERUC" value="{{curso.nivelCursoERUC}}" placeholder="Ingrese el nivel del curso" class="form-control" required>
          <br>
          <b>DESCRIPCION DEL CURSO:</b>
          <input type="text" name="descripcionCursoERUC" id="descripcionCursoERUC" value="{{curso.descripcionCursoERUC}}" placeholder="Ingrese la descripcion del curso" class="form-control" required>
          <br>
          <b>AULA:</b>
          <input type="text" name="aulaCursoERUC" id="aulaCursoERUC" value="{{curso.aulaCursoERUC}}" placeholder="Ingrese el aula" class="form-control" required>
          <br>
          <b>UBICACION:</b>
          <input type="text" name="ubicacionCursoERUC" id="ubicacionCursoERUC" value="{{curso.ubicacionCursoERUC}}" placeholder="Ingrese la ubicacion" class="form-control" required>
          <br>
          <b>MAXIMO DE ESTUDIANTES:</b>
          <input type="number" name="maximoCursoERUC" id="maximoCursoERUC" value="{{curso.maximoCursoERUC}}" placeholder="Ingrese el maximo de estudiantes" class="form-control" required>
          <br>
          <b>SELECIONE EL NOMBRE DE LA CARRERA:</b>
          <select class="form-control" name="idCarreraERUC" id="idCarreraERUC" style="text-align: center;" required>
            <option value="">--Selecione la carrera--</option>
            {%for carrera in carrera%}
              <option value="{{carrera.idCarreraERUC}}">{{carrera.nombreCarreraERUC}}</option>
            {%endfor%}
          </select>
          <script type="text/javascript">
            document.getElementById('idCarreraERUC').value="{{curso.carreraERUC.idCarreraERUC}}";
          </script>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="curso" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
          </center>
        </form>

        </div>
      </div>

    </div>
        {%endblock%}
