{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
  <br><br><br>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-2" >

      </div>
      <div class="col-md-8" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <form class="" action="/actualizarCarrera/" method="post" enctype="multipart/form-data" id="nuevo_carrera">
          {% csrf_token %}
          <h1><i class="fas fa-edit"></i> <b>EDITAR CARRERA</b></h1>
          <input type="hidden" name="idCarreraERUC" value="{{carrera.idCarreraERUC}}">
          <b>NOMBRE:</b>
          <input type="text" name="nombreCarreraERUC" id="nombreCarreraERUC" value="{{carrera.nombreCarreraERUC}}" placeholder="Ingrese el nombre de la carrera" class="form-control" required>
          <br>
          <b>DIRECTOR DE LA CARRERA:</b>
          <input type="text" name="directorCarreraERUC" id="directorCarreraERUC" value="{{carrera.directorCarreraERUC}}" placeholder="Ingrese el nombre del director" class="form-control" required>
          <br>
          <b>DESCRIPCION DE LA CARRERA:</b>
          <input type="text" name="descripcionCarreraERUC" id="descripcionCarreraERUC" value="{{carrera.descripcionCarreraERUC}}" placeholder="Ingrese la descripcion de la carrera" class="form-control" required>
          <br>
          <b>PERIODO ACADEMICO:</b>
          <input type="text" name="periodoAcademicoCarrera" id="periodoAcademicoCarrera" value="{{carrera.periodoAcademicoCarrera}}" placeholder="Ingrese el periodo academico" class="form-control" required>
          <br>
          <b>LOGO DE LA CARRERA:</b> <br>
                {% if carrera.logoCarreraERUC %}
                <img src="{{ carrera.logoCarreraERUC.url }}" alt="Imagen actual" height="70px" width="100px">
                <br>
                {{ carrera.logoCarreraERUC.name }}
                <br>
                {% endif %}
                <br>
                <input type="file" name="logoCarreraERUC" id="logoCarreraERUC" accept="image/*" class="form-control" >
                <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</a>
          </center>
        </form>

        </div>
      </div>

    </div>
        {%endblock%}
