{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
        <source src="{% static 'css/utc.mp4' %}" type="video/mp4" />
      </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>SIETMAS DE INFORMACIÓN</h6>
                <h2><em>PROGRAMANDO</em> SUEÑOS</h2>

            </div>
        </div>
    </section>
    <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>CORREO</h2>
          </div>
        </div>
        <div class="col-md-6">

        <!-- Do you need a working HTML contact-form script?

                    Please visit https://templatemo.com/contact page -->

          <form id="contact" action="" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <label for="destinatario" style="color: white;">DESTINATARIO</label><br>
                    <input class="input1"type="email" name="destinatario"  placeholder="Ingrese el destinatario" value=""><br>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <label for="asunto" style="color: white;">ASUNTO</label><br>
                    <input class="input1"type="text" name="asunto" placeholder="Ingrese el asunto" value=""><br>
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <label for="cuerpo" style="color: white;">MENSAJE</label><br>
                  <textarea name="cuerpo" rows="6" placeholder="Ingrese el mensaje"></textarea><br>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <input class="input1" type="submit" name="" value="Enviar correo" style="color: white; background-color: mediumvioletred;">
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.3063290664495!2d-78.63556608849352!3d-0.9179034353325796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d460483c1c1a3b%3A0x694a140aab02b1c!2sUniversidad%20T%C3%A9cnica%20de%20Cotopaxi%20(UTC)!5e0!3m2!1ses-419!2sec!4v1706403726609!5m2!1ses-419!2sec" width="100%" height="505px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}
  </body>
</html>
