{% extends "./plantilla.html" %}
  {% block contenido %}
<br><br><br><br><br>
<div class="continer-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2><b>GRAFICO EN BARRAS DE ASIGNATURA CARRERA Y HORAS</b></h2>
    </div>
    <div class="col-md-6">
      <h2><b>GRAFICO EN PASTEL DE ASIGNATURA CARRERA Y HORAS</b></h2>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">

      <div style=" border: 2px solid black; padding: 10px;">

        <canvas id="myChart"></canvas>

      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ctx = document.getElementById('myChart');

            const tiposSet = new Set();
            const horasPorAsignatura = {};

            {% for asignatura in asignatura %}
                tiposSet.add("{{ asignatura.nombreAsignaturaERUC }}");
                horasPorAsignatura["{{ asignatura.nombreAsignaturaERUC }}"] = {{ asignatura.totalHorasAsignaturaERUC }};
            {% endfor %}

            const tiposArray = Array.from(tiposSet);
            const datosAsignaturas = tiposArray.map(tipo => horasPorAsignatura[tipo] || 0);

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tiposArray,
                    datasets: [{
                        label: 'Cantidad de horas por asignatura',
                        data: datosAsignaturas,
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'category',
                            position: 'bottom',
                        },
                        y: {
                            beginAtZero: true,
                            max: 130, // Ajuste del máximo del eje Y
                            stepSize: 10, // Ajuste del paso del eje Y
                        }
                    }
                }
            });
        });
    </script>
    </div>
    <div class="col-md-6">

      <div style=" border: 2px solid black; padding: 10px;">

          <canvas id="myPieChart" width="400" height="450"></canvas>
      </div>

      <script>
          document.addEventListener('DOMContentLoaded', function () {
              const ctx = document.getElementById('myPieChart').getContext('2d');

              const tiposSet = new Set();
              const horasPorAsignatura = {};

              // Obtener datos de asignaturas y horas
              {% for asignatura in asignatura %}
                  tiposSet.add("{{ asignatura.nombreAsignaturaERUC }}");
                  horasPorAsignatura["{{ asignatura.nombreAsignaturaERUC }}"] = {{ asignatura.totalHorasAsignaturaERUC }};
              {% endfor %}

              const tiposArray = Array.from(tiposSet);
              const datosAsignaturas = tiposArray.map(tipo => horasPorAsignatura[tipo] || 0);

              // Calcular el total de horas
              const totalHoras = datosAsignaturas.reduce((total, horas) => total + horas, 0);

              // Calcular los porcentajes
              const porcentajes = datosAsignaturas.map(horas => (horas / totalHoras) * 100);

              // Colores iniciales permanentes
              const coloresIniciales = [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(54, 162, 235, 0.5)',
                  'rgba(255, 206, 86, 0.5)',
                  'rgba(75, 192, 192, 0.5)'
              ];

              // Función para generar un color aleatorio que no esté en los colores iniciales
              function generarColorAleatorio() {
                  let colorAleatorio;
                  do {
                      colorAleatorio = `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.5)`;
                  } while (coloresIniciales.includes(colorAleatorio));
                  return colorAleatorio;
              }

              const coloresAleatorios = datosAsignaturas.map(() => generarColorAleatorio());

              new Chart(ctx, {
                  type: 'pie',
                  data: {
                      labels: tiposArray,
                      datasets: [{
                          label: 'Cantidad de horas por asignatura',
                          data: porcentajes,
                          backgroundColor: coloresIniciales.concat(coloresAleatorios), // Concatenar colores iniciales y aleatorios
                          borderColor: coloresIniciales.concat(coloresAleatorios),
                          borderWidth: 1,
                      }]
                  },
                  options: {
                      responsive: true,
                      maintainAspectRatio: false,
                      plugins: {
                          legend: {
                              position: 'bottom',
                          },
                          datalabels: {
                              color: '#fff',
                              formatter: (value, context) => {
                                  return Math.round(value) + '%'; // Mostrar el porcentaje redondeado sin decimales
                              },
                              precision: 0, // Mostrar el porcentaje sin decimales
                          }

                      }
                  }
              });
          });
      </script>
  </div>


          {%endblock%}
        </div>


</div>
