{% extends "./plantilla.html" %}
  {% block contenido %}

  <br><br>
  <div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarAsignatura/" method="post" enctype="multipart/form-data" id="nuevo_asignatura">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> <b>NUEVA ASIGNATURA</b></h1>
          <b>NOMBRE:</b>
          <input type="text" name="nombreAsignaturaERUC" id="nombreAsignaturaERUC" value="" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
          <br>
          <b>CREDITOS:</b>
          <input type="number" name="creditosAsignaturaERUC" id="creditosAsignaturaERUC" value="" placeholder="Ingrese el numero de creditos" class="form-control" required>
          <br>
          <b>FECHA DE INICIO:</b>
          <input type="date" name="fechaInicioAsignaturaERUC" id="fechaInicioAsignaturaERUC" value="" placeholder="Ingrese la fecha de inicio" class="form-control"required>
          <br>
          <b>FECHA DE FINALIZACION:</b>
          <input type="date" name="fechaFinalizacionAsignaturaERUC" id="fechaFinalizacionAsignaturaERUC" value="" placeholder="Ingrese la fecha de finalizacion" class="form-control"required>
          <br>
          <b>PROFESOR:</b>
          <input type="text" name="profesorAsignaturaERUC" id="profesorAsignaturaERUC" value="" placeholder="Ingrese el nombre del profesor." class="form-control" required>
          <br>
          <b>DESCRIPCION ASIGNATURA:</b>
          <input type="text" name="descripcionAsignaturaERUC" id="descripcionAsignaturaERUC" value="" placeholder="Ingrese la descripcion" class="form-control" required>
          <br>
          <b>TOTAL HORAS:</b>
          <input type="number" name="totalHorasAsignaturaERUC" id="totalHorasAsignaturaERUC" value="" placeholder="Ingrese el total de horas" class="form-control" required>
          <br>
          <b>SELECIONE EL NIVEL:</b>
          <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" class="form-control" name="idCursoERUC" id="idCursoERUC" style="text-align: center;" required>
            <option value="">--Selecione el nivel--</option>
            {%for curso in curso%}
              <option value="{{curso.idCursoERUC}}">{{curso.nivelCursoERUC}}</option>
            {%endfor%}
          </select>
          <br>
          <b>SILABO:</b>
          <input type="file" name="silaboAsignaturaERUC" id="silaboAsignaturaERUC" accept=".pdf" value="" class="form-control" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1><b>LISTADO DE LAS ASIGNATURAS</b></h1>
          <!--<img src="https://img.freepik.com/vector-gratis/conjunto-iconos-perros-raza-pura-color_1284-18922.jpg" alt="" style="width: 100px; height: 100px;border-radius: 50%;">-->
        </div>
        <table class="table table-striped table-bordered" id="tbl_asignatura">
          <thead>
            <tr >
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">CREDITOS</th>
              <th class="text-center">FECHA INICIO</th>
              <th class="text-center">FECHA FINALIZACION</th>
              <th class="text-center">PROFESOR</th>
              <th class="text-center">DESCRIPCION</th>
              <th class="text-center">TOTAL HORAS</th>
              <th class="text-center">NIVEL</th>
              <th class="text-center">SILABO</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for asignatura in asignatura %}
          <tr>
            <td>{{asignatura.idAsignaturaERUC}}</td>
            <td>{{asignatura.nombreAsignaturaERUC}}</td>
            <td>{{asignatura.creditosAsignaturaERUC}}</td>
            <td>{{asignatura.fechaInicioAsignaturaERUC}}</td>
            <td>{{asignatura.fechaFinalizacionAsignaturaERUC}}</td>
            <td>{{asignatura.profesorAsignaturaERUC}}</td>
            <td>{{asignatura.descripcionAsignaturaERUC}}</td>
            <td>{{asignatura.totalHorasAsignaturaERUC}}</td>
            <td>{{asignatura.cursoERUC.nivelCursoERUC}}</td>
            <td class="text-center">
              {% if asignatura.silaboAsignaturaERUC %}
                    <a href="{{ asignatura.silaboAsignaturaERUC.url }}" target="_blank">
                        <i class="fas fa-file-pdf fa-3x text-black"></i>
                    </a>
              {% else %}
                  <b>N/A</b>
              {% endif %}
            </td>
            <br>
            <td style="width: 20%;">
              <a href="/editarAsignatura/{{asignatura.idAsignaturaERUC}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarAsignatura('/eliminarAsignatura/{{asignatura.idAsignaturaERUC}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
        <script>
        $(document).ready(function () {
          $("#silaboAsignaturaERUC").fileinput({
          //showUpload:false
          //showRemove: false,
          language:'es',
          maxFileSize: 0
          });
          });
        </script>



        {%endblock%}
      </div>
    </div>
  </div>
