{% extends "./plantilla.html" %}
  {% block contenido %}

  <br><br>
  <div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarCarrera/" method="post" enctype="multipart/form-data" id="nuevo_carrera">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> <b>NUEVA CARRERA</b></h1>
          <b>NOMBRE:</b>
          <input type="text" name="nombreCarreraERUC" id="nombreCarreraERUC" value="" placeholder="Ingrese el nombre de la carrera" class="form-control" required>
          <br>
          <b>DIRECTOR DE LA CARRERA:</b>
          <input type="text" name="directorCarreraERUC" id="directorCarreraERUC" value="" placeholder="Ingrese el nombre del director" class="form-control" required>
          <br>
          <b>DESCRIPCION DE LA CARRERA:</b>
          <input type="text" name="descripcionCarreraERUC" id="descripcionCarreraERUC" value="" placeholder="Ingrese la descripcion de la carrera" class="form-control" required>
          <br>
          <b>PERIODO ACADEMICO:</b>
          <input type="text" name="periodoAcademicoCarrera" id="periodoAcademicoCarrera" value="" placeholder="Ingrese el periodo academico" class="form-control" required>
          <br>
          <b>LOGO DE LA CARRERA:</b>
          <input type="file" name="logoCarreraERUC" id="logoCarreraERUC" accept="image/*" value="" class="form-control" multiple="false" data-max-file-count="1" >
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1> <b>LISTADO DE LAS CARRERAS</b></h1>
          <!--<img src="https://img.freepik.com/vector-gratis/conjunto-iconos-perros-raza-pura-color_1284-18922.jpg" alt="" style="width: 100px; height: 100px;border-radius: 50%;">-->
        </div>
        <br><br>
        <table class="table table-striped table-bordered" id="tbl_carrera">
          <thead>
            <tr >
              <th class="text-center">ID</th>
              <th class="text-center">NOMBRE</th>
              <th class="text-center">DIRECTOR</th>
              <th class="text-center">DESCRIPCION</th>
              <th class="text-center">PERIODO ACADEMICO</th>
              <th class="text-center">LOGO</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for carrera in carrera %}
          <tr>
            <td>{{carrera.idCarreraERUC}}</td>
            <td>{{carrera.nombreCarreraERUC}}</td>
            <td>{{carrera.directorCarreraERUC}}</td>
            <td>{{carrera.descripcionCarreraERUC}}</td>
            <td>{{carrera.periodoAcademicoCarrera}}</td>
            <td style="width: 15%;">
              {% if carrera.logoCarreraERUC %}
                    <a href="{{ carrera.logoCarreraERUC.url }}" target="_blank">
                        <img src="{{ carrera.logoCarreraERUC.url }}" alt="" height="70px" width="100px">
                    </a>
              {% else %}
                  <b>N/A</b>
              {% endif %}
            </td>
            <td style="width: 20%;">
              <a href="/editarCarrera/{{carrera.idCarreraERUC}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarCarrera('/eliminarCarrera/{{carrera.idCarreraERUC}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
        <script>
        $(document).ready(function () {
          $("#logoCarreraERUC").fileinput({
          //showUpload:false
          //showRemove: false,
          language:'es',
          minFileSize: 0, // Establece el tamaño mínimo del archivo en 0
          maxFileSize: 0,

          });
          });
        </script>
        {%endblock%}
      </div>
    </div>
  </div>
