{% extends "./plantilla.html" %}
  {% block contenido %}

  <br><br>
  <div class="container-fluid">
    <br>
    <br>
    <div class="row">
      <div class="col-md-4" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <form class="" action="/guardarCurso/" method="post" enctype="multipart/form-data" id="nuevo_curso">
          {% csrf_token %}
          <h1><i class="fa fa-plus-circle "></i> <b>NUEVO CURSO</b></h1>
          <b>NIVEL:</b>
          <input type="text" name="nivelCursoERUC" id="nivelCursoERUC" value="" placeholder="Ingrese el nivel del curso" class="form-control" required>
          <br>
          <b>DESCRIPCION DEL CURSO:</b>
          <input type="text" name="descripcionCursoERUC" id="descripcionCursoERUC" value="" placeholder="Ingrese la descripcion del curso" class="form-control" required>
          <br>
          <b>AULA:</b>
          <input type="text" name="aulaCursoERUC" id="aulaCursoERUC" value="" placeholder="Ingrese el aula" class="form-control" required>
          <br>
          <b>UBICACION:</b>
          <input type="text" name="ubicacionCursoERUC" id="ubicacionCursoERUC" value="" placeholder="Ingrese la ubicacion" class="form-control" required>
          <br>
          <b>MAXIMO DE ESTUDIANTES:</b>
          <input type="number" name="maximoCursoERUC" id="maximoCursoERUC" value="" placeholder="Ingrese el maximo de estudiantes" class="form-control" required>
          <br>
          <b>SELECIONE EL NOMBRE DE LA CARRERA:</b>
          <select data-live-search="true" data-live-search-style="startsWith" class="selectpicker" class="form-control" name="idCarreraERUC" id="idCarreraERUC" style="text-align: center;" required>
            <option value="">--Selecione la carrera--</option>
            {%for carrera in carrera%}
              <option value="{{carrera.idCarreraERUC}}">{{carrera.nombreCarreraERUC}}</option>
            {%endfor%}
          </select>
          <br><br>
          <center>
            <button type="submit" name="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Gurdar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" name="button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Cancelar</button>
          </center>
        </form>
      </div>
      <div class="col-md-8" style="border: 9px solid #000; padding: 20px; border-radius: 10px;">
        <div class="text-center" >
          <h1> <b>LISTADO DE LOS CURSOS</b></h1>
          <!--<img src="https://img.freepik.com/vector-gratis/conjunto-iconos-perros-raza-pura-color_1284-18922.jpg" alt="" style="width: 100px; height: 100px;border-radius: 50%;">-->
        </div>
        <br><br>
        <table class="table table-striped table-bordered" id="tbl_curso">
          <thead>
            <tr >
              <th class="text-center">ID</th>
              <th class="text-center">NIVEL</th>
              <th class="text-center">DESCRIPCION</th>
              <th class="text-center">AULA</th>
              <th class="text-center">UBICACION</th>
              <th class="text-center">MAXIMO ESTUDIANTES</th>
              <th class="text-center">CARRERA</th>
              <th class="text-center">ACCIONES</th>
            </tr>
          </thead>
        <tbody>
          {%for curso in curso %}
          <tr>
            <td>{{curso.idCursoERUC}}</td>
            <td>{{curso.nivelCursoERUC}}</td>
            <td>{{curso.descripcionCursoERUC}}</td>
            <td>{{curso.aulaCursoERUC}}</td>
            <td>{{curso.ubicacionCursoERUC}}</td>
            <td>{{curso.maximoCursoERUC}}</td>
            <td>{{curso.carreraERUC.nombreCarreraERUC}}</td>
            <td style="width: 20%;">
              <a href="/editarCurso/{{curso.idCursoERUC}}" class="btn btn-outline-success"><i class="fas fa-edit"></i> Editar</a>
              <a href="javascript:void(0)"onclick="eliminarCurso('/eliminarCurso/{{curso.idCursoERUC}}');"class="btn btn-outline-danger"><i class="fa fa-times-circle"></i> Eliminar</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
        </table>
        {%endblock%}
      </div>
    </div>
  </div>
