{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Importacion de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-grad-school.css' %}">s
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Importacion de jquery-validate -->

    <script type="text/javascript"
    src="{% static 'librerias/jquery-validate/jquery.validate.js' %}">
    </script>

    <script type="text/javascript" src="{% static 'script/carrera.js' %}"> </script>
    <script type="text/javascript" src="{% static 'script/curso.js' %}"> </script>
    <script type="text/javascript" src="{% static 'script/asignatura.js' %}"> </script>
    <!-- Importacion de DataTables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
    </script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">
    </script>
    <!-- Bootstrap Fileinput CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css">

    <!-- Bootstrap Fileinput JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
    <!-- español fileinput -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/es.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>

    <!-- Importacion de chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <title>Universidad</title>



    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">


  </head>

<body>


  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="{%url 'enviar_correo'%}"><em>UNIVERSIDAD </em></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/">CARRERA</a></li>
        <li><a href="{% url 'curso' %}">CURSO</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="{% url 'asignatura' %}">ASIGNATURA</a></li>
        <li><a href="{% url 'grafico' %}">GRAFICOS ESTADISTICOS</a></li>

      </ul>
    </nav>
  </header>
  <br>
  {% if messages %}
      {% for mensaje in messages %}
      <script type="text/javascript">
               //alert('{{mensaje}}');
          iziToast.success({
              title: 'CONFIRMACIÓN',
              message: '{{mensaje}}',
              position:'topRight'
          });
      </script>
        {% endfor %}
  {% endif %}

  {% block contenido %}

  {% endblock %}
  <br><br><br>
  <footer>
        <div class="row" style="background-color:#162239; color:white; padding:15px;">
          <br><br>

                <div class="row" style="background-color:#162239; color:white; padding:15px;">
                  <h1> <i class="fa-solid fa-house-chimney-window"></i> UNIVERSIDAD </h1>
                  <br><br>
                    <div class="col-md-2 text-center">
                      <h3><i class="fas fa-phone"></i> CONTACTOS</h3>
                      Telefono: 0995523212 <br>
                      Direccion: Latacunga <br>
                      Calle: 10 de Agosto
                    </div>
                    <div class="col-md-3 text-center" >
                      <h3><i class="fas fa-map-marker-alt"></i> UBICACIÓN</h3>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15957.152979733162!2d-78.62486953705528!3d-0.9339738299769428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d461069d795bd1%3A0xc0a05fcabeea8fbb!2sLatacunga!5e0!3m2!1ses!2sec!4v1702494835441!5m2!1ses!2sec" width="450" height="90" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-3 text-center">
                      <h3><i class="far fa-clock"></i> HORARIOS DE ENTRADA</h3>
                      Lunes-Viernes de 06:00-22:00 <br>
                      Sabados de 06:00-12:00 <br>
                    </div>
                    <div class="col-md-3 text-center ">
                      <h3><i class="fas fa-info-circle"></i> MÁS INFORMACIÓN </h3><br>
                      <i class="fab fa-twitter fa-2x"></i>
                      <i class="fab fa-facebook fa-2x"></i>
                      <i class="fab fa-instagram fa-2x"></i>
                      <i class="fab fa-telegram fa-2x"></i>
                      <i class="fas fa-envelope fa-2x"></i>
                      <i class="fas fa-globe fa-2x"></i>
                    </div>
                  </div>
                </div>

        </div>
    </footer>


</body>

</html>
